# Python
__pycache__/
*.py[cod]
*.sqlite3
*.DS_Store

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
staticfiles/

# Environment
.env
.env.docker
Pipfile.lock

# VS Code
.vscode/

# Terraform
terraform/.terraform/
terraform/*.tfstate*
terraform/*.tfvars
terraform/.terraform.lock.hcl
terraform/crash.log

# Docker
postgres_data/
.env.docker

# Terraform
*.tfplan
tfplan
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
