services:
  db:
    container_name: postgres_db
    image: postgres:15
    env_file:
      - .env.docker
    volumes:
      - postgres_data:/var/lib/postgresql/data
      # - ./create-local-postgres-db.sql:/docker-entrypoint-initdb.d/seed.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    container_name: web
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env.docker
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "python manage.py migrate &&
            python manage.py loaddata initial_gates &&
            gunicorn interstellar.wsgi:application --bind 0.0.0.0:8000 --workers 2"

volumes:
  postgres_data:
